.modal-normal {
  color: black;
}

.modal-error {
  color: red;
}

.modal-success {
  color: green;
}

.center-block {
  justify-content: center;
}

.alignSelf-center {
  align-self: center;
}


.App {
  background: rgba(235,235,235,.75);
  border-radius: 15px;
  padding: 1em;
  min-height: 50em;
}

.container {
  padding: 2em 2em;
}

body {
  background: #D0E4F5 url("https://mdbootstrap.com/img/Photos/Others/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.mybtn {
  width: 10em;
}

.float-left {
  float: left;
}

.icon {
  cursor: pointer;
}

.right-align {
  text-align: right;
}

.delete-icon {
  cursor: pointer;
  max-width: 50px;
  color: red;
  font-size: 25px;
  font-weight: bold;
}


table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  cursor: default;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}
table tr:nth-child(odd){background-color: rgba(225,225,225,1);}

table tr:not(:first-child):hover {
  background-color: #ddd; 
  border: 2px solid grey;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
  font-size: 140%;
}


.grid-table-header {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "gridTable gridTable gridTable gridCell";
}

.grid-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "gridCell  gridCell  gridCell" 
    "gridTable gridTable gridTable";
}

.gridTable { 
  grid-area: gridTable;
  text-align: center; 
  grid-row: span 3;
}

.gridCell { 
  display: grid;
  text-align: center;
  grid-column-start: auto;
  grid-row-start: auto;
  height: 80px;
}


.doubleCell {
  display: grid;
  text-align: center; 
  grid-column-start: auto;
  grid-row-start: auto;
  grid-column: 2 / span 2;
}



.driver-form {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "gridCell gridCell";
}


.creditcard-form {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "gridCell gridCell gridCell";
}

.car-details-form {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "gridCell gridCell gridCell gridCell"
    "gridCell gridCell gridCell gridCell";
}

.route-form {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "gridCell gridCell gridCell"
    "gridCell gridCell gridCell"
    "gridCell doubleCell"
    "gridCell doubleCell";
}



.views-btns {
  display: grid;
  column-gap: 1rem;
  grid-auto-columns: 1fr;
  grid-auto-rows: 2em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  break-inside: avoid;
  grid-template-areas: 
    "gridCell gridCell gridCell gridCell";
}

.new-btns {
  display: grid;
  column-gap: 2rem;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "gridCell gridCell gridCell";
}







/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  cursor: default;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 50em;
}

/* The Close Button */
.close {
  color: red;
  float: right;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




